.nav{
    height:50px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    background-color: aqua;
}
.nav-1{
    display: flex;
    height: 50px;
    width: 70%;
    border: 2px solid black;
}
.nav-1 i {
    padding: 18px;
}
.nav-2{
    display: flex;
    height: 50px;
    width: 30%;
    border: 2px solid black;
    /* justify-content: space-between; */
}
.nav-2 i {
    padding: 15px;
    align-items: right;
}
.navbar{
    height:80px;
    width: 100%;
    border: 2px solid black;
    background-color: white;
    display: flex;
    position: sticky;
    justify-content: space-between;
}
.navbar-1{
    display: flex;
    height: 80px;
    width: 50%;
    border: 2px solid red;
    font-size: x-large;
    color: blue;
    font-weight: bolder;
    padding-left: 25px;
}
.navbar-2{
    display: flex;
    height: 80px;
    width: 50%;
    border: 2px solid red;
    justify-content: space-between;
}
.navbar-2 ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.container{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 100%;
    border: 2px solid black;
}
.container-1{
    height: 800px;
    width: 50%;
    display: block;
    height: 500px;
    width: 50%;
    border: 2px solid rgb(223, 12, 12);
    background-color: blue;
}
.container-2{
    height: 800px;
    width: 50%;
    display: flex;
    height: 500px;
    width: 50%;
    border: 2px solid rgb(223, 12, 12);
    background-image: url(https://effulgent-crostata-cae86a.netlify.app/img/carousel-1.jpg);
}
.about{
    height: 500px;
    width: 100%;
    border: 2px solid green;
    display: flex;
}
.about-1{
    height: 500px;
    width: 50%;
    border: 2px dotted yellow;
}
.about-2{
    height: 500px;
    width: 50%;
    border: 2px dotted yellow;
}
.services{
    height: 600px;
    width: 100%;
    border: 2px solid fuchsia;
}
.sub-service{
    height: 500px;
    width: 90%;
    border: 2px solid silver;
    display: flex;
    justify-content: space-around;
}
.service-1{
    height: 200px;
    width: 30%;
    border: 1px solid brown;
}
.service-2{
    height: 200px;
    width: 30%;
    border: 1px solid brown;
}
.service-3{
    height: 200px;
    width: 30%;
    border: 1px solid brown;
}
.service-4{
    height: 200px;
    width: 30%;
    border: 1px solid brown;
}
.service-5{
    height: 200px;
    width: 30%;
    border: 1px solid brown;
}
.service-6{
    height: 200px;
    width: 30%;
    border: 1px solid brown;
}
.why{
    height: 500px;
    width: 100%;
    border: 2px dotted violet;
    display: flex;
    justify-content: space-between;
}
.why-1{
    height: 500px;
    width: 50%;   
    border: 3px solid rgb(0, 0, 0);
    background-color: blue;
}
.why-2{
    height: 500px;
    width: 50%;
    border: 3px solid rgb(21, 33, 69);
    background-image: url(https://effulgent-crostata-cae86a.netlify.app/img/feature.jpg);
}
.doctors{
    height: 500px;
    width: 100%;
    border: 2px solid rgb(110, 89, 48);
    align-items:center;
}
.sub-doctor{
    height: 400px;
    width: 90%;
    border: 2px dotted darkmagenta;
    display: flex;
    align-items: center;
}
.doctor-1{
    height: 350px;
    width: 20%;
    border: 2px solid darkred;
}
.doctor-2{
    height: 350px;
    width: 20%;
    border: 2px solid darkred;
}
.doctor-3{
    height: 350px;
    width: 20%;
    border: 2px solid darkred;
}
.doctor-4{
    height: 350px;
    width: 20%;
    border: 2px solid darkred;
}
.appointment{
    height: 600px;
    width: 100%;
    border: 2px solid burlywood;
    display: flex;
    justify-content: space-between;
}
.appointment-1{
    height: 600px;
    width: 50%;
    border: 1px dotted red;
}
.appointment-2{
    height: 600px;
    width: 50%;
    border: 1px dotted red;
}