.main{
    height:auto;
    width:100%;
}
.nav{
    height:50px;
    width: 100%;
    border: 2px solid black;
    display: flex;
}
.nav-1{
    height: 50px;
    width: 50%;
}
.nav-2{
    height: 50px;
    width: 50%;
}